In [20]:
import sqlite3
from datetime import datetime
import os

In [21]:
os.path.exists('../db.sqlite3')

True

In [3]:
conn=sqlite3.connect('../db.sqlite3')
conn

In [4]:
cursor=conn.cursor()
cursor

In [5]:
list(cursor.execute('select * from user_city'))

[]

In [31]:
conn.close()

### 寫入城市

In [7]:
citys=[(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [22]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

conn,cursor

(<sqlite3.Connection at 0x1706d7c8b70>, <sqlite3.Cursor at 0x1706e300f10>)

In [9]:
today=datetime.today().strftime('%Y-%m-%d')
today

'2022-01-29'

In [11]:
try:
    for city in citys:    
        sqlstr=f'insert into user_city (id,name,createdon) values ({city[0]},"{city[1]}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
except:
    pass

In [12]:
respondents=['公司行號', '工作室', '學生身分', '上班族兼職']

In [13]:
try:
    for respondent in respondents:    
        sqlstr=f'insert into user_respondent (name,createdon) values ("{respondent}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except:
    pass

done!

In [17]:
categorys=['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [19]:
try:
    for category in categorys:    
        sqlstr=f'insert into case_category (name,createdon) values ("{category}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

done!

In [23]:
states=['新進案','發案中','製作中','已結案']

In [24]:
try:
    for state in states:    
        sqlstr=f'insert into case_state (name,createdon) values ("{state}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

done!

In [25]:
amounts=['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']

In [26]:
try:
    for amount in amounts:    
        sqlstr=f'insert into case_amount (name,createdon) values ("{amount}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

done!

In [27]:
modes=['到場配合','遠端合作','面談']

In [28]:
try:
    for mode in modes:    
        sqlstr=f'insert into case_mode (name,createdon) values ("{mode}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

done!

In [29]:
periods=['3天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一年以上','面議']

In [30]:
try:
    for period in periods:    
        sqlstr=f'insert into case_period (name,createdon) values ("{period}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

done!

In [32]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

conn,cursor

(<sqlite3.Connection at 0x1706d7c8e40>, <sqlite3.Cursor at 0x1706e300730>)

In [33]:
conn.close()