In [4]:
import sqlite3
from datetime import datetime
import os

In [2]:
os.path.exists('../db.sqlite3')

True

In [3]:
conn=sqlite3.connect('../db.sqlite3')
conn

In [4]:
cursor=conn.cursor()
cursor

In [5]:
list(cursor.execute('select * from user_city'))

[(1, '基隆市', '2022-02-16'),
 (2, '台北市', '2022-02-16'),
 (3, '新北市', '2022-02-16'),
 (4, '桃園縣', '2022-02-16'),
 (5, '新竹市', '2022-02-16'),
 (6, '新竹縣', '2022-02-16'),
 (7, '苗栗縣', '2022-02-16'),
 (8, '台中市', '2022-02-16'),
 (9, '彰化縣', '2022-02-16'),
 (10, '南投縣', '2022-02-16'),
 (11, '雲林縣', '2022-02-16'),
 (12, '嘉義市', '2022-02-16'),
 (13, '嘉義縣', '2022-02-16'),
 (14, '台南市', '2022-02-16'),
 (15, '高雄市', '2022-02-16'),
 (16, '屏東縣', '2022-02-16'),
 (17, '台東縣', '2022-02-16'),
 (18, '花蓮縣', '2022-02-16'),
 (19, '宜蘭縣', '2022-02-16'),
 (20, '澎湖縣', '2022-02-16'),
 (21, '金門縣', '2022-02-16'),
 (22, '連江縣', '2022-02-16')]

In [6]:
conn.close()

### 寫入城市

In [15]:
citys=[(1, '基隆市'),
 (2, '台北市'),
 (3, '新北市'),
 (4, '桃園縣'),
 (5, '新竹市'),
 (6, '新竹縣'),
 (7, '苗栗縣'),
 (8, '台中市'),
 (9, '彰化縣'),
 (10, '南投縣'),
 (11, '雲林縣'),
 (12, '嘉義市'),
 (13, '嘉義縣'),
 (14, '台南市'),
 (15, '高雄市'),
 (16, '屏東縣'),
 (17, '台東縣'),
 (18, '花蓮縣'),
 (19, '宜蘭縣'),
 (20, '澎湖縣'),
 (21, '金門縣'),
 (22, '連江縣')]

In [8]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()

conn,cursor

(<sqlite3.Connection at 0x17f27b66b70>, <sqlite3.Cursor at 0x17f298b4810>)

In [9]:
today=datetime.today().strftime('%Y-%m-%d')
today

'2022-02-23'

In [10]:
try:
    for city in citys:    
        sqlstr=f'insert into user_city (id,name,createdon) values ({city[0]},"{city[1]}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except:
    pass

In [16]:
respondents=['公司行號', '工作室', '學生身分', '上班族兼職']

In [12]:
try:
    for respondent in respondents:    
        sqlstr=f'insert into user_respondent (name,createdon) values ("{respondent}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except:
    pass

In [17]:
states=['新進案','發案中','製作中','已結案']

In [14]:
try:
    for state in states:    
        sqlstr=f'insert into case_state (name,createdon) values ("{state}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

UNIQUE constraint failed: case_state.name

In [10]:
amounts=['3000','5000','10000~30000','50000','10萬','30萬','50萬~100萬','100萬以上','面議']

In [16]:
try:
    for amount in amounts:    
        sqlstr=f'insert into case_amount (name,createdon) values ("{amount}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

UNIQUE constraint failed: case_amount.name

In [18]:
periods=['3天內','一個禮拜','二~四個禮拜','一個月內','三個月','半年','一年以上','面議']

In [18]:
try:
    for period in periods:    
        sqlstr=f'insert into case_period (name,createdon) values ("{period}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

UNIQUE constraint failed: case_period.name

In [19]:
categorys=['程式開發',
 '平面設計',
 '網頁設計',
 '翻譯寫作',
 '商攝娛樂',
 '影像製作',
 '空間設計',
 '生活服務',
 '活動企劃',
 '專業顧問',
 '資訊工程']

In [20]:
try:
    for category in categorys:    
        sqlstr=f'insert into case_category (name,createdon) values ("{category}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

UNIQUE constraint failed: case_category.name

In [20]:

modes=['到場配合','遠端合作','面談']

In [22]:
try:
    for mode in modes:    
        sqlstr=f'insert into case_mode (name,createdon) values ("{mode}","{today}")'
        cursor.execute(sqlstr)  
    conn.commit()
    print('done!')
except Exception as e:
    print(e)

UNIQUE constraint failed: case_mode.name

In [24]:
conn.close()

### 寫入專案

In [1]:
import pandas as pd
df=pd.read_csv('./程式開發.csv',index_col=0)
df

,link,title,price,city,detail
0,https://www.tasker.com.tw/case/detail/3mY8n,NodeMCU&QR CODE模組門禁鎖,"5,001~1萬",台中市,1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用...
1,https://www.tasker.com.tw/case/detail/J9aZK,系統工程師,1萬~5萬,不限,1.案件說明：徵求系統工程師，需能在IOS、Android系統應用，協助日後維護管理\n2....
2,https://www.tasker.com.tw/case/detail/54Yz5,SNS APP開發,10萬~30萬,不限,1.案件說明：獨立開發SNS APP，協助上線在IOS、Android系統應用，長期配合協助...
3,https://www.tasker.com.tw/case/detail/qbLMX,安卓音訊處理APP,1萬~5萬,不限,1.案件說明：協助安卓音訊處理APP，詳細參考附件\n2.注意事項：具備相關能力或實務經驗，...
4,https://www.tasker.com.tw/case/detail/b1qeB,Access 資料庫,"$3,000",不限,1.案件說明：協助基本Access 資料庫檔案一件，已完成部份\n2.注意事項：需要12／1...
...,...,...,...,...,...
593,https://www.tasker.com.tw/case/detail/r4YPp,testflight上架,"5,001~1萬",不限,1.案件說明：我有多個IOS APP應用要上testflight外測，要能穩定長期不封號\n...
594,https://www.tasker.com.tw/case/detail/Y92OZ,藍芽MCU開發,1萬~5萬,不限,1.案件說明：協助藍芽ＭＣＵ開發（新唐）設計， PCB電路layout，（本部地區）合適採取...
595,https://www.tasker.com.tw/case/detail/Y927K,EXCEL VBA 撰寫,"$1,500",不限,1.案件說明：我想要請人代寫一本書 [看財報不抓狂] 中的EXCEL VBA 內容，書中都有...
596,https://www.tasker.com.tw/case/detail/63rmb,outlook excel,5千以下,台北市,1.案件說明：協助對方回覆之OUTLOOK信件內容中擷取特定內容至Excel指定欄位中\n2...
597,https://www.tasker.com.tw/case/detail/mJvrX,票券系統功能新增與維護,1萬~5萬,不限,1.案件說明：開發與維護平台，包含會員、票券系統\n2.配合時間：長期\n3.配合地點：可在...

In [2]:
len(df)

598

In [5]:
conn=sqlite3.connect('../db.sqlite3')
cursor=conn.cursor()
cases=list(cursor.execute('select * from case_case'))
cases

[(3,
  'Test1',
  '',
  '0912345678',
  '',
  '2022-02-18 16:25:44.909223',
  1,
  3,
  5,
  1,
  3,
  1,
  '2022-02-25 20:57:55.028214'),
 (6,
  'test111',
  '2oufhoiewh',
  '0987654321',
  '',
  '2022-02-24 18:21:41.507006',
  4,
  9,
  6,
  6,
  8,
  2,
  '2022-02-25 20:57:55.028214'),
 (7,
  'Gary_test1',
  'superuser first test',
  '0912345678',
  'superuser\r\nfirst\r\ntest',
  '2022-02-25 22:33:11.810780',
  0,
  4,
  3,
  1,
  5,
  1,
  '2022-02-25 22:33:11.810780'),
 (9,
  'Test333 update test1',
  'normal user third test',
  '0987654321',
  'ooooo\r\n11111\r\ndakflkjaf\r\n124iorjwml;ms',
  '2022-02-25 23:06:45.761926',
  9,
  2,
  7,
  6,
  2,
  3,
  '2022-02-25 23:12:34')]

### 取得最後編號

In [6]:
no= cases[-1][0] if len(cases) > 0 else 1
no

9

In [7]:
sql_str='insert into case_case values({},"{}","{}","{}","{}","{}",\
    {},{},{},{},{},{},"{}"'
sql_str

'insert into case_case values({},"{}","{}","{}","{}","{}",    {},{},{},{},{},{},"{}"'

In [8]:
data=df.values.tolist()[0]
data

['https://www.tasker.com.tw/case/detail/3mY8n',
 'NodeMCU&QR CODE模組門禁鎖',
 '5,001~1萬',
 '台中市',
 '1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用Arduino IDE撰寫，把模組掃到條碼資料顯示在Arduino IDE的監控視窗。\n2.注意事項：具備相關能力或實務經驗，其他細節詳談']

In [11]:
import random
random.randint(1,len(amounts))

8

### 取得users id

In [12]:
users=list(cursor.execute('select * from user_profile'))
users

[(1,
  'pbkdf2_sha256$320000$1uZKWI64cV3dHQo4CrdNdm$vVuUlQrUTJNPq0OHU25FE30p5pgp+rCKxyxqcZ/3bV4=',
  '2022-02-26 22:01:21.253266',
  1,
  'Gary',
  '',
  '',
  1,
  1,
  '2022-01-24 13:56:00',
  1000,
  1,
  3,
  3,
  'icenio5454@gmail.com'),
 (6,
  'pbkdf2_sha256$320000$k4tFcrrEHLQwZAdPtOnLZv$ECGS7F4+UWPoyCV2/0XrKp1JWFJZUTDFN9PfHjNMCfo=',
  '2022-02-25 22:33:24.594939',
  0,
  'Test123',
  '',
  '',
  0,
  1,
  '2022-02-18 22:21:52.702696',
  0,
  0,
  15,
  1,
  'Test123@yahoo.com.tw'),
 (8,
  'pbkdf2_sha256$320000$iw1EaLAbOZWSBg9QWbXAiU$+XXDWjBIwse8+xRbWBshMpg3nXvilv92DU7Voxv3YKc=',
  '2022-02-26 22:04:48.489669',
  0,
  'Harry',
  '',
  '',
  0,
  1,
  '2022-02-26 22:04:47.704211',
  0,
  0,
  1,
  3,
  'Harry@gmail.com'),
 (9,
  'pbkdf2_sha256$320000$AVne2FBMdbdel5AggRQRAB$sKiXIEkL1Hc1S34QkwlYB/V1Vs7HD3NGQIlUzWFAQmM=',
  '2022-02-26 22:05:19.197215',
  0,
  'Nick',
  '',
  '',
  0,
  1,
  '2022-02-26 22:05:18.541955',
  0,
  0,
  2,
  1,
  'Nick@gmail.com'),
 (10,
  'pbkdf2_sha256$320000$TZoztciN7ZkRJLtyKPqUF7$8JHU51tQy+8HquUwcDzGcytHZ7b1Qt3JTTQ+WmrL2+s=',
  '2022-02-26 22:05:49.620830',
  0,
  'James',
  '',
  '',
  0,
  1,
  '2022-02-26 22:05:48.879682',
  0,
  0,
  4,
  4,
  'James@gmail.com'),
 (11,
  'pbkdf2_sha256$320000$V1qwEWUeN2kDN1ibIRGN4y$omcFiMNMEitqNAzbsRkHsUkK9nrJR86oPhFZllUCt5A=',
  '2022-02-26 22:06:28.586301',
  0,
  'Wendy',
  '',
  '',
  0,
  1,
  '2022-02-26 22:06:27.817896',
  0,
  0,
  7,
  2,
  'Wendy@gmail.com'),
 (12,
  'pbkdf2_sha256$320000$OMF3QRNG1h4XQTNcT9V45T$wAwx30NsylN7Avc861vPUbpz8sCPbCgYtRR2RDL1iqw=',
  '2022-02-26 22:07:17.229937',
  0,
  'Mary',
  '',
  '',
  0,
  1,
  '2022-02-26 22:07:16.386847',
  0,
  0,
  15,
  3,
  'Mary@gmail.com'),
 (13,
  'pbkdf2_sha256$320000$T9gwrzalOyuIh8uB6t5MLK$KfS2ooCyP0BB+OtVWoNCI6i8GNTVoemkK3vCUu/WVCE=',
  '2022-02-26 22:07:57.604159',
  0,
  'John',
  '',
  '',
  0,
  1,
  '2022-02-26 22:07:56.858133',
  0,
  0,
  20,
  4,
  'John@gmail.com')]

In [13]:
user_ids=[user[0] for user in users]
user_ids

[1, 6, 8, 9, 10, 11, 12, 13]

In [21]:
sql_str.format(no+1,data[1],data[4],'0987578587','',datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
0,random.randint(1,len(amounts)),random.randint(1,len(categorys)),random.choice(user_ids),
random.randint(1,len(periods)),random.randint(1,len(states)),datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

'insert into case_case values(10,"NodeMCU&QR CODE模組門禁鎖","1.案件說明：NodeMCU 連接QRCODE 模組（Bar Code&QR Code)使用Arduino IDE撰寫，把模組掃到條碼資料顯示在Arduino IDE的監控視窗。\n2.注意事項：具備相關能力或實務經驗，其他細節詳談","0987578587","","2022-02-26 22:16:40",    0,7,5,13,1,3,"2022-02-26 22:16:40"'

In [22]:
random.choice(user_ids)

1

In [23]:
cursor.execute('delete from case_case')
conn.commit()

In [26]:

for i,data in enumerate(df.values.tolist()):              
        try:   
                no+=1
                sql_str='insert into case_case values({},"{}","{}","{}","{}","{}",\
                {},{},{},{},{},{},"{}");'
                sql_str=sql_str.format(no,data[1],data[4],'0987578587','',datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
                        0,random.randint(1,len(amounts)),random.randint(1,len(categorys)),random.choice(user_ids),
                        random.randint(1,len(periods)),random.randint(1,len(states)),datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

                
                cursor.execute(sql_str)

        except Exception as e:
                print(e,i)

conn.commit()

near "有可能": syntax error 35
near "智能手錶": syntax error 89
near "台灣加權指數": syntax error 148
near "功能達成": syntax error 251
near "已交貨付款": syntax error 348
near "貸款利潤": syntax error 370
near "對造": syntax error 415
near "正在偵測過高滑點": syntax error 445